.colores {
    color: red;
}

.colores-hex {
    color: #F033F0;
}

.colores-rgb {
    color: rgb(20, 180, 90);
}

.colores-rgba {
    color: rgba(75, 10, 50, 0.5);
}

.fondo {
    background-color: lightsteelblue;
}

.fondo-imagen {
    background-image: url("images/fondo.jpg");
    background-position: right center;
}

.ancho {
    width: 30%;
    background-color: cadetblue;
}

.alto {
    height: 200px;
    background-color: darkolivegreen;
}

.tarjeta {
    width: fit-content;
    border: solid 1px green;
    border-radius: 5px;
    padding: 10px 30px;
    margin: 30px 50px;
    background-color: rgba(0, 128, 0, 0.3);
}
